@import "tailwindcss";

@plugin "daisyui" {
  themes:
    light --default,
    dark;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: oklch(25% 0.08 200);
  --color-secondary: oklch(75% 0.18 155);
  --color-base-100: oklch(100% 0 0);
  --color-base-content: oklch(20% 0.02 200);
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: oklch(65% 0.15 200);
  --color-secondary: oklch(70% 0.15 155);
  --color-base-100: oklch(15% 0.02 200);
  --color-base-content: oklch(95% 0.01 200);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  font-family: "Source Sans 3", sans-serif;
}

body {
  @apply bg-base-100 text-base-content antialiased min-h-screen;
}

* {
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
}
